

// Fonts

$title-font: MagdelinBlack;
$subtitle-font: MagdelinRegular;
$text-font: MagdelinLight;

// Cores

$primary-color: #DE5012;
$white-color: #ffffff;
$secondary-color: #818380;
$secondary-dark-color: #201F21;
$dark-mode-color: #2C2930;
$btn-hover: #ce6e45;

