
@font-face {
    font-family: MagdelinBlack;
    src: url(../font/Magdelin-Alt-Black.otf);
}

@font-face {
    font-family: MagdelinRegular;
    src: url(../font/Magdelin-Alt-Regular.otf);
}

@font-face {
    font-family: MagdelinLight;
    src: url(../font/Magdelin-Alt-Light.otf);
}